body {
    background-image: url(../Image/rmutto_place.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 12px;
}


.login_popup {
    /*background-image: url(../Image/blurred-blue-background.jpg  );
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100vw;
    height: 100vh;
}

.login_popup_in {
    /*background-image: url(../Image/blurred-blue-background.jpg  );
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;
    height: 400px;


    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;


    background-color: #ffffff;
    background-color: rgba(255,255,255,0.95);
   
    /*background-color: #ffffff;
    border: none;
    border: 5px solid #00a2e8;*/
    /*border: 32px solid #ffffff;*/
    /*/border-radius: 1000px;*/
    /*box-shadow: #ffffff 0px 0px 50px;

    transition: border ease 0.25s;*/
}
.login_popup_in2 {
    width: 700px;
    margin: 0 auto;
}

.login_popup_div_sec {
     
    margin: 0px auto;
    margin-top: 20px;

    /*box-shadow: #808080 0px 5px 5px;*/
}

.login_popup_div_sec_header {
    /*background-color: rgba(255,255,255,0.25);*/
    float: left;
    padding: 0px 25px;
    text-align: center;
    font-weight: bold;

}
.login_popup_div_sec_header span {
    /*margin-left: 20px;*/
    color: #FFFFFF;
    color: #000000;

    /*text-shadow: 1px 1px 1px #000000;*/
}
.login_popup_div_sec_in {
    float: right;
    /*background-color: rgba(128,128,128,0.6);*/
    padding: 20px 20px;
    
}
.login_popup_div_sec_in span {
    /*color: #FFFFFF;
    text-shadow: 1px 1px 1px #808080;*/
    color: #000000;

}
.login_logo {
    margin-top: 20px;
    height: 300px;
}
.login_default_textbox {
    width: 120px;
    font-size: 16px;
    padding: 3px 5px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    outline: none;
    height: 20px;
    line-height: 20px;
    /*box-shadow: rgba(0,162,232,0.8) 1px 1px 10px;
    box-shadow: rgba(0,0,0,0.5) 1px 1px 5px;*/
}
.login_default_textbox:focus {
    border: 1px solid #404040;
}

.t1 {
    margin-top: 30px;
    color: #000000;
    font-size: 48px;
}
.t2 {
    color: #808080;
    font-size: 24px;
}
.cerror {
    
}
.login_column0 {
    text-align: left;
    padding-right: 10px;
}
.login_column1 {
    text-align: left;
}
table {
    margin: 0 auto;
}
.login_button {
    text-decoration: none;
    color: #ffffff;
    background-color: #404040;
    text-align: center;
    padding: 3px 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}
.login_button:hover {
    color: #ffffff;
    background-color: #000000;
}
.login_button {
    
}
