@font-face {
    font-family: 'THSARABUNNEW_0';
    src: url('../Font/THSARABUNNEW_0.TTF') format('truetype');
}
@font-face {
    font-family: 'RB-Regular';
    src: url('../Font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'THS';
    src: url('../Font/TH Sarabun PSK/THSarabun.ttf') format('truetype');
}
@font-face {
    font-family: 'THSB';
    src: url('../Font/TH Sarabun PSK/THSarabun Bold.ttf') format('truetype');
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background-color: #ffffff;
    font-family: RB-Regular, Tahoma;
    font-size: 12px;
}
.ps-ms-wrapper {
    display: table;
    width: 100%;
    min-width: 1280px;
}
.ps-ms-main {
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    background-color: #ffffff;
}
.ps-ms-side-group .ps-ms-logout {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid transparent;
}
.ps-ms-side-group .ps-ms-logout:hover {
    color: #ffffff;
    background-color: #ff0000;
    border: 1px solid transparent;
    background-color: #404040;
}
.ps-ms-side-group .ps-ms-user {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid transparent;
}
.ps-ms-side-group .ps-ms-user:hover {
    color: #ffffff;
    background-color: #434eff;
    border: 1px solid transparent;
    background-color: #404040;
}
.ps-ms-side .ps-ms-rmutto {
    display: block;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
}
.ps-ms-side .ps-ms-profile-div {
    text-align: center;
    margin-bottom: 5px;
}
.ps-ms-side .ps-ms-profile-pic {
    width: 150px;
    height: auto;
}
.ps-ms-side {
    display: table-cell;
    min-width: 179px;
    width: 179px;
    font-size: 12px;
    color: #ffffff;
    background-color: #202020;
    /*border-right: 1px solid #00a2e8;
    border-bottom: 1px solid #00a2e8;*/
    padding: 10px 10px;
}
.ps-ms-side img {
    margin-right: 4px;
}
.ps-ms-side .rmutto {
    width: 100px;
    margin-left: 40px;
}
.ps-ms-side-group-header {
    font-family: THSB;
    font-size: 20px;
    display: block;
    border-radius: 32px;
    text-align: center;
    color: #8181ff;
    color: #ff6070;
    padding: 3px 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
   
}
.ps-ms-side-group {
    /*padding-bottom: 10px;
    margin: 10px 0px;*/
    /*border-bottom: 1px solid #f0f0f0;*/
    margin-bottom: 5px;
}
.ps-ms-side-group a {
    display: block;
    padding: 4px 3px;
    text-decoration: none;
    color: #ffffff;
    /*background-color: #282828;*/
    margin-bottom: 1px;
    border-radius: 4px;
    /*border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;*/
    /*transition: background-color ease 0.1s, border-color ease 0.1s;*/
}
.ps-ms-side-group a img {

}
.ps-ms-side-group a:hover {
    background-color: #404040;
}
.ps-ms-side-group a:active {
    background-color: #808080;
}
.ps-ms-side-group img {
    margin-bottom: -3px;
}
.ps-ms-side-separator {
    margin: 10px 0;
    border-top: 1px solid #606060;
}

.master_header_under img {
    float:right;
    background-color: #00a2e8;
    height: 95vh;
}


.master_header_label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}
.master_header_label2 {
    font-size: 16px;
    font-weight: bold;
    color: #00a2e8;
    color: #808080;
}
.master_header_label3 {
    font-size: 16px;
    font-weight: bold;
    color: #808080;
}
.master_header_label4 {
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
}
.master_header_under_label {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.master_header_under_label2 {
    font-size: 16px;
    font-weight: bold;
    color: #C0C0C0;
}
.master_nav {
    background-color: #000000;
    margin: 0;
    line-height: 24px;
    padding-top:6px;
    text-align: center;
    background-color: #e0e0e0;
    background-color: #00caff;
    background-color: #FFFFFF;
    background-color: #00a2e8;
    /*border-bottom: 1px solid #00a2e8;*/
}

.master_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.master_nav li {
    display: inline;
}

.master_nav a {
    text-decoration: none;
    display: inline;
    padding: 3px 20px;
    margin: 0 1px;

    color: #FFFFFF;
    background-color: #00a2e8;
    
    transition: background-color 0.25s ease;
}
.master_nav_multi:after {
	content: ' v';
    
}


.master_nav a:hover {
    background-color: #65c1e9;
}


@keyframes key_master_nav_a_in {
    from {
        color: #808080;
        background: #000000;
        text-shadow: 0px 0px 0px #000000;
    } 
    to {
        color: #ffffff;
        background: #202020;
        text-shadow: 1px 1px 2px #404040;
    }
}
@keyframes key_master_nav_a_out {
    from {
        color: #ffffff;
        background: #202020;
        text-shadow: 1px 1px 2px #404040;
    } 
    to {
        color: #808080;
        background: #000000;
        text-shadow: 0px 0px 0px #000000;
    }
}

/*-START-A--------------------------------*/
.master_nav ul ul {
    display: none;
    margin-top: 6px;
}

.master_nav ul li:hover > ul {
	display: block;
}
.master_nav ul {

	padding: 0px 20px;

	list-style: none;
	position: relative;
	display: inline-table;
}
.master_nav ul:after {
	content: "";
    clear: both;
    display: block;
}
.master_nav ul li {
	float: left;

}
.master_nav ul li:hover .nav_a {

}

.master_nav ul li .nav_a {
	display: block;
    padding: 0px 20px;
	color: #000000;
    text-decoration: none;
}
.master_nav ul ul {

    border-radius: 0px;
    padding: 0;
	position: absolute;
    top: 100%;
}
.master_nav ul ul li {
	float: none; 

	border-bottom: 1px solid #575f6a;
	position: relative;

}
.master_nav ul li ul li .nav_a {
    padding: 3px 20px;
    text-align:left;
}
.master_nav ul ul li .nav_a {
    margin-top: -1px;
	padding: 3px 20px;
	color: #FFFFFF;
    background-color: #00a2e8;
}	
.master_nav ul ul li .nav_a:hover {
    background-color: #65c1e9;

}
.master_nav ul ul ul {
	position: absolute;
    left: 100%;
    top:0;
}

/*-END-A------------------------------------*/



.master_footer {
    clear: both;
    background-color: #f8f8f8;

    color: #404040;
    text-align: center;
    padding: 20px 20px;
    /*border-top: 10px solid #f0f0f0;*/
}


.dpl {
    background-color: #2270ff;
}
.dpl2 {
    background-color: #e0e0e0;
}
.dpl3 {
    background-color: #000000;
}
.dpl_green {
    background-color: #38a800;
}
.dpl_red {
    background-color: #ff0000;
}
.dpl_sred {
    background-color: #cc2939;
}
.dpl_sub_lime {
    background-color: #d6ff81;
}
.dpl_gray {
    background-color: #808080;
}
.dpl_blue {
    background-color: #00a2e8;
}
.dpl_7c {
    margin: 20px 0px;
    height: 1px;
    background: linear-gradient(to right, rgb(237,28,36),rgb(255,127,39),rgb(255,242,0),rgb(34,177,76),rgb(0,162,232),rgb(63,72,204), rgb(163,73,164));
}


/*--DEFAULT COMPONENT--*/

.master_default_button {
    text-decoration: none;
    display: inline;
    padding: 0px 20px;
    margin: 0px 0px;
    /*margin-top: 5px;*/
    /*width: 60px;*/
    border: none;
    color: #000000;
    background-color: #e0e0e0;
    border-radius: 24px;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.master_default_button:hover {
    color: #ffffff;
    background-color: #00a2e8;
}
.master_default_button:active {
    color: #ffffff;
    background-color: #3d7288;
}
.master_default_gridview_select_button {
    text-decoration: none;
    display: inline;
    padding: 0px 20px;
    margin: 0px 0px;
    /*margin-top: 5px;*/
    /*width: 60px;*/
    border: none;
    color: #000000;
    background-color: #e0e0e0;
    border-radius: 24px;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.master_default_gridview_select_button:hover {
    color: #ffffff;
    background-color: #00a2e8;
}
.master_default_gridview_select_button:active {
    color: #ffffff;
    background-color: #3d7288;
}
.master_default_textbox {
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    padding: 2px 10px;
    border-radius: 24px;
    transition: border ease 0.25s;
}
.master_default_textbox:hover {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox:focus {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox:disabled {
    background-color: #d0d0d0;
}
.master_default_textbox:disabled:hover {
    border: 1px solid rgb(192,192,192);
}
.master_default_textbox_multi_line {
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 12px;
    transition: border ease 0.25s;
}
.master_default_textbox_multi_line:hover {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox_multi_line:focus {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_textbox_multi_line:disabled {
    background-color: #d0d0d0;
}
.master_default_textbox_multi_line:disabled:hover {
    border: 1px solid rgb(192,192,192);
}
.master_default_dropdown {
    border: 1px solid #C8C8C8;
    background-color: #FFFFFF;
    padding: 2px 5px;
    border-radius: 24px;
    transition: border ease 0.25s;
}
.master_default_dropdown:focus {
    /*border: 1px solid rgb(0,162,232);*/
    border: 1px solid rgb(0,0,0);
}
.master_default_dropdown:disabled {
    background-color: #d0d0d0;
}
.master_default_dropdown:disabled:hover {
    border: 1px solid rgb(192,192,192);
}
.master_default_div_sec {
    margin: 20px auto;
    box-shadow: #808080 0px 5px 5px;
}
.master_default_div_sec_header {
    background-color: rgba(128,128,128,0.8);
    padding: 20px 25px;
    font-weight: bold;
}
.master_default_div_sec_header span {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}
.master_default_div_sec_in {
    background-color: rgba(128,128,128,0.6);
    padding: 20px 20px;
}
.master_default_div_sec_in span {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}
ault_page_header {
    font-size: 32px;
    text-align: center;
}
.master_dark_page_header {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.master_dark_div_sec {
    display: inline-block;
    color: #FFFFFF;
    margin-right: 20px;
    margin-bottom: 20px;
}
.master_dark_div_sec_title {

    display: inline-block;
    padding: 0 20px;
    color: #FFFFFF;
    background-color: #404040;
    /*font-size: 24px;
    font-weight: bold;*/
}
.master_dark_div_sec_pre_in {

}
.master_dark_div_sec_in {
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    border: 1px solid #404040;
}
.master_dark_button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #404040;
    padding: 3px 20px;
    border-radius: 24px;
    display: inline-block;
    text-align: center;
    transition: background-color ease 0.25s;
}
.master_dark_button:hover {
    background-color: #808080;
}
.master_dark_textbox {
    font-family: 'WDB Bangna';
    color: #FFFFFF;
    background-color: #404040;
    padding: 3px 10px;
    border: none;
    border-radius: 24px;
}
.master_dark_dropdown {
    font-family: 'WDB Bangna';
    color: #FFFFFF;
    background-color: #404040;
    padding: 3px 10px;
    border: none;
    border-radius: 24px;
}
.master_light_page_header {
    margin-top: 100px;
    font-size: 48px;
    text-align: center;
}
.master_light_div_sec {
    display: inline-block;
    color: #000000;
    margin-right: 20px;
    margin-bottom: 20px;
    /*transition: opacity ease 0.25s;*/
}
.master_light_div_sec_title {

    display: inline-block;
    padding: 0 20px;
    color: #000000;
    /*color: #FFFFFF;*/
    background-color: #e0e0e0;
    /*background-color: #00a2e8;*/
    /*font-size: 24px;*/
    /*font-weight: bold;*/
}
.master_light_div_sec_pre_in {

}
.master_light_div_sec_in {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #00a2e8;
    border: 1px solid #e0e0e0;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.master_light_button {
    text-decoration: none;
    color: #000000;
    background-color: #e0e0e0;
    padding: 0px 20px;
    padding-bottom: 1px;
    border-radius: 4px;
    /*color: #FFFFFF;*/
    /*background-color: #00a2e8;*/
    display: inline-block;
    text-align: center;
    transition: background-color ease 0.25s;
    cursor: pointer;
}
.master_light_button:hover {
    background-color: #808080;
    /*background-color: #69c4eb;*/
    background-color: #c0c0c0;
}
.master_light_textbox {
    font-family: THSARABUNNEW_0;
    font-size: 20px;
    padding: 1px 10px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #00a2e8;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}
.master_light_textbox:disabled {
    background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
}
.master_light_dropdown {
    font-family: THSARABUNNEW_0;
    font-size: 20px;
    padding: 1px 10px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #00a2e8;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}
.master_light_table_div_sec {
    border-collapse: collapse;
}
.master_light_table_div_sec td {
    vertical-align: top;
}
.master_light_table_div_sec_td_left {
    padding: 0;
    margin: 0;
}
.master_light_table_div_sec_td_right {

    /*margin-top: 20px;*/
    margin-left: 220px;
    display: block;
}
.master_light_toggle_div_sec {
    width: 200px;
    margin-right: 20px;
    height: 100%;
    position: fixed;
    background-color: #f0f0f0;
    border-right: 1px solid #404040;
    /*box-shadow: #404040 0px 0px 4px;*/
    border: 1px solid #e0e0e0;
    overflow-y: auto;
}
.master_light_toggle_div_sec_title {
    color: #000000;
    background-color: #e0e0e0;
    font-size: 24px;
    text-align: center;
}
.master_light_toggle_button {
    text-decoration: none;
    color: #000000;
    padding: 0px 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid #e0e0e0;
    display: inline-block;
    text-align: left;
    /*transition: background-color ease 0.25s;*/
    width: 160px;
    cursor: pointer;
}
.master_light_toggle_button:hover {
    color: #FFFFFF;
    background-color: #49bbeb;
    border-bottom: 1px solid #49bbeb;
}
.master_light_toggle_button_selected {
    text-decoration: none;
    color: #000000;
    background-color: #e0e0e0;
    padding: 0px 20px;
    padding-bottom: 1px;
    /*border-radius: 24px;*/
    color: #FFFFFF;
    background-color: #00a2e8;
    border-bottom: 1px solid #00a2e8;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    transition: background-color ease 0.25s;
    width: 160px;
    cursor: pointer;
}

/* CLEAN */

.master_clean_div_sec {
    display: inline-block;
    color: #000000;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    /*transition: opacity ease 0.25s;*/
    box-shadow: #808080 2px 2px 2px;
    /*background-image: url(../Image/white1.png);
    background-size: cover;
    background-position: center;*/
}
.master_clean_div_sec_title {
    font-weight: bold;
    font-size: 24px;
    padding: 2px 20px;
    /*background-color: #ffffff;*/
    background-color: rgba(255,255,255,0.5);
}
.master_clean_div_sec_pre_in {

}
.master_clean_div_sec_in {
    background-color: rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.25);
    /*background-color: #f8f8f8;
    background-color: #404040;*/
    padding: 20px;
}
.master_clean_button {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 20px;
    padding-bottom: 1px;
    display: inline-block;
    text-align: center;
    transition: background-color ease 0.25s;
    cursor: pointer;
    border: 1px solid #000000;
    color: #000000;
    background-color: rgba(255,255,255,0.5);
    box-shadow: #808080 2px 2px 2px;
}
.master_clean_button:hover {
    background-color: #ffffff;
}
.master_clean_textbox {
    font-family: THSARABUNNEW_0;
    font-size: 20px;
    padding: 1px 10px;
    border: 1px solid #000000;
    background-color: rgba(240,240,240,0.5);
    background-color: #fcfcfc;
}
.master_clean_textbox:disabled {
    border: 1px solid #c0c0c0;
    background-color: rgba(192,192,192,0.5);
}
.master_clean_dropdown {
    font-family: THSARABUNNEW_0;
    font-size: 20px;
    padding: 1px 10px;
    border: 1px solid #000000;
    background-color: rgba(240,240,240,0.5);
    background-color: #fcfcfc;
}
.master_clean_table_div_sec {
    border-collapse: collapse;
}
.master_clean_table_div_sec td {
    vertical-align: top;
}
.master_clean_table_div_sec_td_left {
    padding: 0;
    margin: 0;
}
.master_clean_table_div_sec_td_right {

    /*margin-top: 20px;*/
    margin-left: 220px;
    display: block;
}
.master_clean_toggle_div_sec {
    width: 200px;
    margin-right: 20px;
    height: 100%;
    position: fixed;
    background-color: #f0f0f0;
    border-right: 1px solid #404040;
    /*box-shadow: #404040 0px 0px 4px;*/
    border: 1px solid #e0e0e0;
    overflow-y: auto;
}
.master_clean_toggle_div_sec_title {
    color: #000000;
    background-color: #e0e0e0;
    font-size: 24px;
    text-align: center;
}
.master_clean_toggle_button {
    text-decoration: none;
    color: #000000;
    padding: 0px 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid #e0e0e0;
    display: inline-block;
    text-align: left;
    /*transition: background-color ease 0.25s;*/
    width: 160px;
    cursor: pointer;
}
.master_clean_toggle_button:hover {
    color: #FFFFFF;
    background-color: #49bbeb;
    border-bottom: 1px solid #49bbeb;
}
.master_clean_toggle_button_selected {
    text-decoration: none;
    color: #000000;
    background-color: #e0e0e0;
    padding: 0px 20px;
    padding-bottom: 1px;
    /*border-radius: 24px;*/
    color: #FFFFFF;
    background-color: #00a2e8;
    border-bottom: 1px solid #00a2e8;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    transition: background-color ease 0.25s;
    width: 160px;
    cursor: pointer;
}

/* END CLEAN */
.master_tuu_button {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
    padding: 0px 20px;
    padding-bottom: 1px;
    display: inline-block;
    text-align: center;
    transition: background-color ease 0.25s;
    cursor: pointer;
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
    box-shadow: #808080 2px 2px 2px;
}
.master_tuu_button:hover {
    background-color: #ffffff;
}
.master_OAT_button {
    background-color: rgba(0, 114, 255, 0.90);
    background-repeat:repeat-x;
    border:1px solid #d1c7ac;
    text-shadow: 0px 0px 0px #000000;
    width: 60px;
    color: #FFFFFF;
    padding:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;
    border-radius:10px;
    transition: color 0.5s ease, background-color 0.5s ease, text-shadow 0.5s ease;
}
.master_OAT_button:hover {
    /*color: rgb(0, 68, 255);
    background-color: #2edce8;
    text-shadow: 1px 1px 16px #ffffff;*/
    background-color: #65c1e9;
}
.master_OAT_button:hover {
    /*color: rgb(0, 68, 255);
    background-color: #2edce8;
    text-shadow: 1px 1px 16px #ffffff;*/
    background-color: #65c1e9;
}
/*--tester--*/

.master_text_alert {
    display: inline-block;
    color: #ffffff;
    background-color: #ff0000;
    padding: 3px 5px;
    float: right;
    margin-top: -2px;
    margin-right: -0px;
    border-radius: 4px;
}
.default_page_style {
    
}
.ps-page-style {

}
.ps-header {
    font-family: THSB;
    font-size: 24px;
    font-weight: bold;
    color: #6070ff;
    color: #404040;
    margin-bottom: 10px;
    background-color: #f0e8f0;
    background-color: #f0f0f0;
  
    /*background-color: #ffffff;
    color: #00a2e8;*/
    padding: 10px 10px;
    border-radius: 8px;
    padding-left: 15px;
}
.ps-header img {
    margin-bottom: -2px;
    padding-right: 10px;
}
.ps-header-mini {
    font-family: THSB;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 10px;
    padding-left: 15px;
}
.ps-header-mini img {
    margin-bottom: -3px;
    padding-right: 10px;
}
/* ----- */

.ps-button {
    display: inline-block;
    font-family: RB-Regular, Tahoma;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: color ease 0.25s, background-color ease 0.25s, border-color ease 0.25s;

    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #b0b0b0;
    padding: 3px 15px;
}
.ps-button:focus {
    outline: none;
}
.ps-button img {
    margin-bottom: -3px;
}
.ps-button img.icon_left {
    margin-right: 5px;
}
.ps-button img.icon_right {
    margin-left: 5px;
}
.icon_left {
    margin-right: 5px;
}
.icon_right {
    margin-left: 5px;
}
.ps-button:hover, .ps-button:focus {
    color: #000000;
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #b0b0b0;
}
.ps-button-img {
    display: inline-block;
    font-family: RB-Regular, Tahoma;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    padding: 3px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: color ease 0.25s, background-color ease 0.25s, border-color ease 0.25s;

    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #b0b0b0;
    padding: 3px 5px;

    outline: none;
}
.ps-button-img:hover {
    color: #000000;
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #b0b0b0;
}
.ps-button-img img {
    margin-top: 2px;
}
.ps-textbox {
    display: inline-block;
    font-family: RB-Regular, Tahoma;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    padding: 2px;
    /*border-radius: 4px;*/
    transition: color ease 0.25s, background-color ease 0.25s, border-color ease 0.25s;

    color: #000000;
    background-color: #ffffff;
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #b0b0b0;
}
.ps-textbox:focus {
    outline: none;
}
.ps-textbox::selection {
    color: #ffffff;
    background-color: #404040;
    background-color: #00a2e8;
}
.ps-textbox:hover, .ps-textbox:focus {
    /*padding: 2px;*/
}
.ps-textbox:focus {

    border: 1px solid #00a2e8;
    border-top: 1px solid #0091cf;
    border-bottom: 1px solid #40b8eb;
    transition-duration: 0s;
}
.ps-textbox:disabled {
    color: #808080;
    background-color: #e0e0e0;
}
.ps-dropdown {
    display: inline-block;
    font-family: RB-Regular, Tahoma;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 4px;
    transition: color ease 0.25s, background-color ease 0.25s, border-color ease 0.25s;
    outline: none;

    color: #000000;
    /*background-color: #ffffff;
    border: 1px solid #808080;*/
    background-color: #ffffff;

    border: 1px solid #c0c0c0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #b0b0b0;

    padding: 2px;

}

.ps-dropdown:hover, .ps-dropdown:focus {
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #b0b0b0;
    padding: 2px;
}
.ps-dropdown::selection {
    color: #ffffff;
    background-color: #202020;
}
.radio_button {
    margin-right: 10px;
    transition: color ease 0.5s;
}
.radio_button_default {
    color: #808080;
}
.radio_button_default:hover {
    color: #000000;
}
.radio_button_default input[type="radio"]:checked + label {
    color: #000000;
}
.alert {

}
.alert_success {
    color: rgb(60,118,85);
    background-color: rgb(223,240,216);
    border: 1px solid rgb(214,233,198);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
}
.alert_info {
    color: rgb(49,112,116);
    background-color: rgb(217,237,247);
    border: 1px solid rgb(188,232,241);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
}
.alert_warning {
    color: rgb(138,109,75);
    background-color: rgb(252,248,227);
    border: 1px solid rgb(250,235,204);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
}
.alert_danger {
    color: rgb(176,68,66);
    background-color: rgb(242,222,222);
    border: 1px solid rgb(235,204,209);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 20px;
}
.ps-table {
   background-color: #ffffff;
   border-collapse: collapse;
   outline: 1px solid #005478;
}
.ps-table .head {
    font-family: THSB;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #00a2e8;
    /*background-color: #404060;*/
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.ps-table .ps-table-bottom {
    padding: 5px;
    text-align: right;
}
.ps-table tr {
    /*border-bottom: 1px solid #e0e0e0;*/
}
.ps-table td {

}
.ps-table .col1 {
    background-color: #0071a1;
    color: #ffffff;
    border-bottom: 1px solid #007eb3;
}
.ps-table .col2 {
    border-bottom: none;
    color: #000000;
    border-bottom: 1px solid #f0f0f0;
}
/*.ps-table tr:nth-child(odd) .col1 {
    background-color: #ffffff;
}*/

.ps-table tr:nth-child(odd) .col2 {
    background-color: #f8f8f8;
    background-color: #ffffff
}

.col1 {
    padding: 3px 5px;
    /*vertical-align: top;*/
    text-align: right;
    background-color: #f8f8f8;
    
    color: #404040;
    
    
    /*background-color: #00a2e8;
    color: #ffffff;*/
}
.col2 {
    padding: 3px 5px;
    background-color: #ffffff;
    color: #0000ff;
    color: #0040ff;
    border-bottom: 1px solid #f0f0f0;
}
.ps-gridview {
   background-color: #ffffff;
   border-collapse: collapse;
   border: none;
   outline: 1px solid #005478;
}
.ps-gridview tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.ps-gridview th {
    font-family: THSB;
    font-size: 20px;
    color: #ffffff;
    background-color: #00a2e8;
    padding: 3px 5px;
    border: 1px solid #41b9ed;
}
.ps-gridview td {
    padding: 0 5px;
    border-color: #ffffff;
    border: 1px solid #f0f0f0;
}
.head {
    padding: 5px 10px;
    background-color: #00a2e8;
    /*background-color: #404060;*/
    color: #ffffff;
    font-weight: bold;
}
.sep {
    background-color: #00a2e8;
    border: 1px solid #00a2e8;
    height: 18px;
    /*background-color: #c0c0c0;
    border: 1px solid #c0c0c0;
    height: 18px;*/
}
.ps-gridview-manager-top {
    margin-bottom: 5px;
}
.label_success {
    color: #138800;
}
.label_danger {
    color: #ff0000;
}

.tImage {
    display: inline-block;

    border: 1px solid transparent;
}
.tImage:hover {
    border: 1px solid #00a2e8;
}
.tImage img {
    vertical-align: top;
    max-height: 100px;
    width: auto;
}
.tFile {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 1px;
}
.tFile:hover {
    color: #00a2e8;
}
.tFile img {
    height: 32px;
    width: auto;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    
    background-color: rgba(0,0,0,0.5);
    box-shadow: #808080 1px 1px 1px;
}
.popup_content_pre {
    position: relative;
    left: calc(10% - 20px);
    top: calc(10% - 20px);
    width: 80%;
    height: 80%;
    min-width: 100px;
    min-height: 100px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}
.popup_content {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    
}
.popup_content_head {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    height: 32px;
}
.popup_content_head_left {
    float: left;
    font-size: 24px;
    font-weight: bold;
    
}
.popup_content_head_right {
    float: right;
}
.popup_content_head .close {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(../Image/Small/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.popup_content_head .close:hover {
    border: 1px solid #ff0000;
}
.popup_content_center {
    height: calc(100% - 80px);
    padding: 20px;
    overflow: scroll;
}
.ps-separator {
    height: 1px;
    margin: 10px 0;
    /*background: linear-gradient(to right, rgba(240,240,240,0), rgba(192,192,192,0.9), rgba(192,192,192,1), rgba(192,192,192,0.9), rgba(240,240,240,0));*/
    background-color: #e0e0e0;
}
.ps-separator-black {
    height: 1px;
    margin: 10px 0;
    /*background: linear-gradient(to right, rgba(240,240,240,0), rgba(192,192,192,0.9), rgba(192,192,192,1), rgba(192,192,192,0.9), rgba(240,240,240,0));*/
    background-color: #505050;
}
.ps-vs-main {
    font-family: THSB;
    font-size: 20px;
    margin-bottom: 5px;
    transition: background-color ease 0.5s;
}
.ps-vs {
    display: inline-block;
    text-decoration: none;
    padding: 3px 10px;
    color: #a0a0a0;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color ease 0.25s;
}
.ps-vs:hover {
    color: #000000;
}
.ps-vs-sel {
    display: inline-block;
    text-decoration: none;
    padding: 3px 10px;
    color: #000000;
    border-bottom: 4px solid #00a2e8;
}
.ps-sal-table {

}
.ps-sal-table {
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
}
.ps-sal-table th {
    background-color: #404060;
    color: #ffffff;
    border: 1px solid #505060;
    padding: 5px;
}
.ps-sal-table td {
    border: 1px solid #f0f0f0;
    padding: 5px;
}
.ps-sal-table-mr {
    background-color: #00a2e8;
    color: #ffffff;
}
.ps-sal-table-mr td {
    border: 1px solid #64c2eb;
}
.ps-sal-table-under {
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px;
    margin-bottom: 5px;
}
.ps-sal-signature-main {
    text-align: center;
    background-color: #f8f8f8;
}
.ps-sal-signature {
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px 5px;
    min-width: 150px;
    border: 1px solid #808080;
}
.ps-lb-progress-contain {
    margin: 10px 0;
    font-family: THSB;
    font-size: 20px;
}
.ps-lb-progress-sel {
    display: inline-block;
    color: #000000;
}
.ps-lb-progress-unsel {
    display: inline-block;
    color: #a0a0a0;
}
.ps-lb-progress-cen {
    display: inline-block;
    width: 0; 
	height: 0; 
    margin: 0 5px;
    margin-bottom: -1px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #00a2e8;
}